/*
 *= require bootstrap
 *= require profile
 */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  background-color: #fff;
}

h1, caption {
  font-size: 160%;
  text-align: left;
  line-height: 200%;
  border-bottom: 1px solid #cccccc;
}

h2, legend {
  text-align: left;
  font-size: 130%;
  line-height: 1.5;
  color: #5cb85c;
  border-bottom: 1px solid #5cb85c;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;

  background-image: url('pinkbackground.jpg');

}

#loginform, #registration-form {
  margin-top: 40px;
}

#registrant-email {
  font-size: 1.4em;
  margin-top: 25px;
  color: green;
}

#pw-quality {
  font-size: 1.2em;
  margin-top: 20px;
}

.crack-div {
  font-size: 1.2em;
  margin-top: -10px;
}

#match-div {
  font-size: 1.2em;
  margin-top: 20px;
  color: red;
}

#match-div.pmatch {
  font-weight: bold;
  color: green;
}

/* Set the fixed height of the footer here */
#header {
  height: 46px;
  background-image: url('offblackcardstock.png');
}

#footer {
  height: 60px;
  background-image: url('offblackcardstock.png');
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}

.container .credit {
  text-align: right;
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

.top {
  height: 100%;
  color: black;
  /*color: #FFCCFF;*/
}


#dashboard {
  max-width: 1100px;
  border-radius: 10px;
  border: 3px solid #CC0099;
  height: 600px;
  padding: 8px;
  margin: 10px;
  color: #000000;

  background:  white;
  filter: alpha(opacity=80); /* IE */
  -moz-opacity:0.8; /* Mozilla */
  opacity: 0.8; /* CSS3 */
}

#dashboard h1{
  text-align: center;
  font-family: 'Della Respira', serif;
  font-size: 40px;
  margin: 0px;  
  border-bottom: none;
}

.profile {
  border-radius: 10px;
  border: 3px solid #CC0099;
  width: 250px;
  height: 200px;
  margin: 4px;
  padding: 2px;
  color: #000000;

  background:  white;
  filter: alpha(opacity=80); /* IE */
  -moz-opacity:0.8; /* Mozilla */
  opacity: 0.8; /* CSS3 */
}

.profile h4 {
  text-align: center;
  font-family: 'Della Respira', serif;
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
} 

.profile p {
  padding: 2px;
  line-height: 6px;
}


.profile button {
  font-size: 14px;
  border-radius: 10px;
} 

.eventform {
  border: 2px solid black;
  border-radius: 10px;
  padding: 8px;
  margin: 12px;

  background:  white;
  filter: alpha(opacity=80); /* IE */
  -moz-opacity:0.8; /* Mozilla */
  opacity: 0.8; /* CSS3 */
}

